services:
  - type: web
    name: yoyo-linebot
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "python manage.py migrate && gunicorn mylinebot_config.wsgi:application"
    envVars:
      - key: LINE_CHANNEL_ACCESS_TOKEN
        sync: false
      - key: LINE_CHANNEL_SECRET
        sync: false
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: CRON_SECRET
        generateValue: true
      - key: ALLOWED_HOSTS
        sync: false
      - key: DEBUG
        value: "False"
      - key: PYTHON_VERSION
        value: "3.10.0"
